.columnChart {
    height: 500px;
    width: 100%;
}

.container {
    padding: 50px;
}

.col {
    padding: 20px;
}

.lineChart {
    height: 500px;
    width: 100%;
}

.plant {
    background-image: url(./plant.jpg);
    height: 400px;
    width: 350px;
}

.container {

    margin-top:40px
}