


.amcharts-chart-div a{
    display:none !important;
}

.justify-content-md-center{
    margin: 60px;
}

/* Hilflinien */
.container .row div {
    outline: solid 1px blue;
}

.cont{
    padding: 70px;
}

.col{
    padding: 60px;
}

